/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/(Main)/ministry/dashboard/dashboard.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.stats {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: x-large;
}

